<footer class="site-footer">
  <div class="wrap">
    <div class="footer-cols">
      <div class="footer-brand">
        <div class="mark"><%= t("brand.name") %></div>
        <p class="pos"><%= t("brand.positioning") %></p>
        <div class="socials">
          <% t("footer.socials").each do |s| %><span><%= s %></span><% end %>
        </div>
      </div>

      <div>
        <h4><%= t("footer.clinic") %></h4>
        <ul>
          <li><%= link_to t("footer.about"),  the_clinic_path %></li>
          <li><%= link_to t("nav.doctor"),    dr_maysa_path %></li>
          <li><%= link_to t("footer.team"),   the_team_path %></li>
          <li><%= link_to t("footer.method"), maysa_method_path %></li>
        </ul>
      </div>

      <div>
        <h4><%= t("nav.protocols") %></h4>
        <ul>
          <li><%= link_to t("footer.hub"),         protocols_path %></li>
          <li><%= link_to t("footer.bridal"),      bridal_concierge_path %></li>
          <li><%= link_to t("nav.treatments"),     treatments_path %></li>
          <li><%= link_to t("nav.stories"),        stories_path %></li>
        </ul>
      </div>

      <div>
        <h4><%= t("footer.care") %></h4>
        <ul>
          <li><%= link_to t("footer.private_care"), private_care_path %></li>
          <li><%= link_to t("nav.journal"),         journal_path %></li>
          <li><%= link_to t("footer.faq"),          faq_path %></li>
          <li><%= link_to t("footer.contact"),      inquire_path %></li>
        </ul>
      </div>
    </div>

    <div class="subfoot">
      <span><%= t("footer.disclaimer") %></span>
      <%= link_to t("footer.license"), privacy_path %>
    </div>
  </div>
</footer>
