<div class="pillar reveal" data-reveal-target="item">
  <span class="num"><%= num %></span>
  <h3 dir="<%= loc_dir %>"><%= loc(ar: ar_title, en: en_title) %></h3>
  <p dir="<%= loc_dir %>"><%= loc(ar: ar_body, en: en_body) %></p>
</div>
