<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= I18n.locale == :ar ? "rtl" : "ltr" %>">
  <head>
    <title>NeuSkin · Riyadh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tokens", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= render "shared/floating_book" %>
    <%= render "shared/cookie_banner" %>
  </body>
</html>
